.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
    height: 75px;
    padding: 10px;
    border-radius: 30px;
}
.header_right{
        display: flex;
        align-items: center;
        margin: 0;
}
.list{
    margin-right: 30px;
    font-size: 30px;
    list-style-type: none;
    cursor: pointer;
}
.tagContainer{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
.form{
    width: 100rem; 
    padding: 20px;
    margin-top: 30px;
    height: 800px;
    background-color: white;

}
.formHeading{
    font-size: 50px;
}
.formTitle{
    outline: none;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}
.form_inputField{
    width: 1000px;
    height: 400px;
    outline: none;
    padding: 10px;
    font-size: 20px;
}
.formBtn{
    width: 100px;
    height: 50px;
    background-color:wheat;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid grey;
    border-radius: 10px;
}